aiohttp==3.7.4.post0
aioredis==2.0.0
anyio==3.3.0
asgiref==3.4.1
astroid==2.6.6
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
falcon==3.0.1
h11==0.12.0
httpcore==0.13.6
httpx==0.18.2
idna==3.2
isort==5.9.3
jaeger-client==4.6.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
multidict==5.1.0
opentracing==2.4.0
pylint==2.9.6
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
threadloop==1.0.2
thrift==0.13.0
toml==0.10.2
tornado==6.1
typing-extensions==3.10.0.0
uvicorn==0.15.0
wrapt==1.12.1
yarl==1.6.3
